<div class="user-form">

<%= form_for @user, url: add_city_path do |f| %>

<h3>What city do you live in?</h3>

<div class="info">You don't have to enter a city, but it helps us find nearby events without you having to search. You can change it anytime.<br><div class="skip-link"><%= link_to "Thanks, but I'll skip this for now", root_path %></div>

<br><div id="field">
    <%= f.text_field :city, autofocus: true, placeholder: 'Search for a city', class: 'location-field' %>
</div><br>

<div class="submit">
    <%= f.submit "Save city", id: 'submit-city' %>
</div>

<% end %>

</div>