<% if flash.now[:notice] %>
<div class="messages">
    <div class="alert alert-info">
    	<%= flash[:notice] %>
    </div>
</div>
<% end %>

<div class="index">
	<div class="feed">
		<div class="events">
			<%= render @events %>
		</div>
		<div class="pagination">
			<%= will_paginate @events %>
		</div>
		<% if @events.next_page %>
			<div id="load-more-posts" class="btn btn-primary"> Load more posts</div>
		<% end %>
	</div>
</div>

<% if @events.count == 0 && params[:search].present? %>

<div class="no-results">
	No events for this location were found
</div>

<% end %>