<div class="profile">
city: <%= @city %>

<div class="feed">
<div class="events">
	<%= render @events %>
</div>

<div class="pagination">
	<%= will_paginate @events %>
</div>

<% if @events.next_page %>
	<div id="load-more-posts" class="btn btn-primary"> Load more...</div>
<% end %> 
</div>
</div>