.profile{
	margin-top: 20px;
	margin-bottom: 10px;

	.info{
		width: 500px;
		margin: auto;
	}

	.btn.btn-primary{
		display:show;
		position: relative;
		margin-top: 5px;
		margin-right: 5px;
		background-color: #90bbd1;
		border: none;
	}
}