.show-container {
	width: 850px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.show-item{
	display: inline-block;
	width: 530px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	word-wrap: break-word;
	border: solid 1px #d3d3d3;

	.cover-image{
		height: 254px;
		img{
			width: 100%;
			height: 100%;
		}
	}

	.btn-primary{
	width: 100px;
		a{
			color:white;
		}
	}
	.btn-danger{
		width: 100px;
		a{
			color:white;
		}
	}

	.controls{
		width: 205px;
		position: relative;
		bottom: 48px;
		left: 290px;
		margin-top:5px;
		margin-bottom: 5px;
	}

	.show-title{
		margin-top: 0.5rem;
		font-size: 25px;
		word-wrap: break-word;
	}

	.map {
		display:none;
		margin: 5px;
	}

	.show-map{
		float: right;
		color: #90bbd1;
	}

	.show-map:hover{
		text-decoration: underline;
		cursor: pointer;
	}

	hr{
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}

.nearby-events{
	position: relative;
	display: inline-block;
	border: 1px solid #d3d3d3;
	vertical-align:top;
	margin-top: 20px;
	width: 310px;
}

.nearby-title{
	margin-left: 5px;
	font-weight: bold;
	text-align: center;
}

.nearby-event-items{
	margin: 5px;
	width: 300px;
	height: 150px;

	a, a:hover{
		color: white;
	}

	.title{
		color:white;
		width: 100%;
		font-size: 14px;
	}

	img{
		max-width: 300px;
		max-height: 150px;
	}
}