<div class ="logo" style="padding:10px;">
	<%= image_tag "https://okasion.herokuapp.com/assets/logo3-b51e6e996017760fffb5eeb5606df36c41f948361a27c7000375a7632eda3f9c.png" %>
</div>

<div class="email-content">
<p>Welcome <%= @name %>,</p>

<p>You can confirm your account through the link below:</p>

<%= link_to confirmation_url(@resource, confirmation_token: @token), class: 'btn btn-primary' do %>
	Confirm my account
<% end %>

<p>Cheers, <br>
Okasion team</p>

</div>
