<div class ="logo" style="padding:10px;">
	<%= image_tag "https://okasion.herokuapp.com/assets/logo3-b51e6e996017760fffb5eeb5606df36c41f948361a27c7000375a7632eda3f9c.png" %>
</div>

<div class="email-content">
<p>Hey <%= @user.name %>,</p>

<p>You can confirm your account through the link below:</p>

<%= link_to confirmation_url(@resource, confirmation_token: @token) do %>
	<div style="height: 38px; padding: 5px; color:'white'; background-color:'#90bbd1'; text-decoration:'none'">Confirm my account</div>
<% end %>

<p>Cheers, <br>
Okasion team</p>

</div>