<div class ="logo">
		<%= image_tag("https://okasion.herokuapp.com/assets/logo3-b51e6e996017760fffb5eeb5606df36c41f948361a27c7000375a7632eda3f9c.png", height: '38', width: '130') %>
</div>

<div class="email-content">

<h3>Hey <%= @resource.name %>,</h3>

<p>You have requested to change your password. You can do this through the link below.</p>

<%= link_to edit_password_url(@resource, reset_password_token: @token) do %>
<div style="height: 38px; padding: 5px; color:'white'; background-color:'#90bbd1'; text-decoration:'none'">Change my password</div>
<% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Cheers, <br>
Okasion team</p>

</div>