<div class ="logo">
	<img src="http://localhost:3000/assets/logo3-b51e6e996017760fffb5eeb5606df36c41f948361a27c7000375a7632eda3f9c.png">
</div>

<div class="email-content">

<h3>Hey, <%= @resource.name %>!</h3>

<p>You have requested to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', new_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

</div>